:root {
    /* COLORS */
    --text-primary: #ffffff;
    --text-secondary: #000000;
    --text-tertiary: #00fff7;
    --bg-primary: #000000;
    --bg-secondary: #ffffff;
    --accent-primary: #ffffff;
    --accent-secondary: #00fff7;
    --accent-tertiary: #00d754;

    /* SIZES */
    --pfp-sq: 54px;
    --iconSmall-sq: 24px;
    --iconLarge-sq: 40px;

    --spanSize: 13px;

    --navbar-width: 100%;
    --navbar-height: 20px;
    --navbarMini-width: 96px;
    --navbarMini-height: 20px;

    --sauceBox-width: 324px;
    --sauceBox-height: 405px;

    --mailZone-width: 216px;
    --mailZone-height: 54px;

    --tutPopups-width: 200px;
    --tutPopups-height: 200px;

    --bottomElementsHeight: 54px;
    --uiLineBottomAmnt: 100px;

    /* --globeDeco-width: */
    /* --globeDeco-height: */

    /* --photoGallery-width: */
    /* --photoGallery-height: */
}

html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    width: 100%;
    background-color: #000000;
    overflow-x: auto;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    font-family: vermi;
    overflow-y: auto;
}

#__nuxt {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    overflow: auto;
}

#nxPage {
    width: 100%;
    height: 100%;
    position: absolute;
}

#ppPage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display-none {
    display: none;
}

@font-face {
    font-family: ROG;
    src: url('/fonts/ROG.ttf') format('truetype');
}

h1 {
    font-family: ROG;
    font-size: 50px;
    color: var(--text-tertiary);
}

h2 {
    font-family: ROG;
    font-size: 40px;
    color: #ffffff;
}

h3 {
    font-family: ROG;
    font-size: 30px;
    color: #ffffff;
}

h4 {
    font-family: ROG;
    font-size: 20px;
    color: #ffffff;
}

p {
    font-family: ROG;
    font-size: 20px;
    color: #ffffff;
}

span {
    font-family: ROG;
    font-size: var(--spanSize);
    color: #ffffff;
}

@keyframes bangblink {
    0% {opacity: 1;}
    70% {opacity: 1;}
    80% {opacity: 0;}
    90% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes reveal {
    0% {opacity: 1;}
    100% {
        opacity: 0;
    }
}

.reveal-enter-active,
.reveal-leave-active {
    animation: reveal 123ms linear;
}

.reveal-enter-from,
.reveal-leave-to {
    animation: reveal 123ms linear reverse;
}