:root {
    --text-primary: #ffffff;
    --text-secondary: #000000;
    --text-tertiary: #00fff7;
    --bg-primary: #000000;
    --bg-secondary: #ffffff;
    --accent-primary: #ffffff;
}

html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    width: 100%;
    background-color: #000000;
    overflow-x: auto;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    font-family: vermi;
    overflow-y: auto;
}

#__nuxt {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    overflow: auto;
}

#page {
    width: 100%;
    height: 100%;
    position: absolute;
}

@font-face {
    font-family: ROG;
    src: url(/fonts/ROG.ttf);
}

@font-face {
    font-family: 'practice';
    src: url(/fonts/PracticeMono.otf);
}

h1 {
    font-family: ROG;
    font-size: 50px;
    color: var(--text-tertiary);
}

h2 {
    font-family: ROG;
    font-size: 40px;
    color: #ffffff;
}

h3 {
    font-family: ROG;
    font-size: 30px;
    color: #ffffff;
}

h4 {
    font-family: ROG;
    font-size: 20px;
    color: #ffffff;
}

p {
    font-family: ROG;
    font-size: 20px;
    color: #ffffff;
}

span {
    font-family: ROG;
    font-size: 20px;
    color: #ffffff;
}